In [1]:
print("rahul")

rahul

In [3]:
print(type("rahul"))

<class 'str'>

In [2]:
age='24'
number=int(age)
print(24)

24

In [4]:
hieght = 6.1
type(hieght)
a = int(hieght)
print(a)
print(float(a))

6
6.0

In [22]:
# Dynamic Typing
var=10;

print(var,type(var))
var="hello"
print(var,type(var))
var = True
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
True <class 'bool'>

In [15]:
# input

age=int(input("whats the age"))
print(age,type(age))

45 <class 'int'>

In [ ]:
# calculator

var1 = float(input("Enter value of first variable"))
var2 = float(input("Enter value of second variable"))
print("Sum :",var1+var2)
print("Subtraction :",var1+var2)
print("Multiplication :",var1+var2)
print("Division :",var1/var2, "and the remainder is",var1 % var2)
print("Floor Division :",var1 // var2)
print("Exponential :",var1 ** var2)

Sum : 88.0
Subtraction : 88.0
Multiplication : 88.0
Division : 0.6296296296296297 and the remainder is 34.0
Floor Division : 0.0
Exponential : 5.01027449872726e+82

In [26]:
a=True
b=False

if a==False:
    print(a)

else: print("b")

b

In [28]:
age=60

if age<18:
    print("too young")
elif age>30:
    print("too old")
else: print("corect")

too old

In [35]:
number =int(input("Enter the Number"))
if number>0:

    if number%2==0:
        print("Even Number")
    else: print("Odd number") 

else: print("not a valid Possitive Integer")

Odd number

In [ ]:
for i in range (0,5):
    print(i)

print("------------")
for i in range (0,5,2):
    print(i)

print("------------")
for i in range (10,0,-2):
    print(i)   

print("------------")
for i in range (10,0,-5):
    print(i)

In [ ]:
string = "heelo world"
for i in string:
    print(i)

In [ ]:
# whileloop
number =100
while number>10:
    print(number)
    number-=10

In [58]:
for i in range(10):
    if i==5:
        break
    print (i)

0
1
2
3
4

In [2]:
for i in range(6):
    if i==2:
        continue
    print (i)

0
1
3
4
5

In [3]:
for i in range(6):
    if i==2:
        pass
    print (i)

0
1
2
3
4
5

In [4]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
emphty_tuple=()
print(type(emphty_tuple))

<class 'tuple'>