In [4]:
print(list[3])  ##get item by index
print(list[1:4]) ## get by range
print(list[3:])
print(list[:4])  
print("double collon -> jump{list} and",list[::2])

Yellpaur
['Thej', 'Roshani', 'Yellpaur']
['Yellpaur', 12, 18, 12]
['Rahul', 'Thej', 'Roshani', 'Yellpaur']
double collon -> jump{list} and ['Rahul', 'Roshani', 12, 12]

In [5]:
list=["Rahul","Thej", "Roshani","Yellpaur",12,18,12]

print(type(list))

print(list)

<class 'list'>
['Rahul', 'Thej', 'Roshani', 'Yellpaur', 12, 18, 12]

In [6]:
list[4]="Mysuru"
print(list)

list.append("Orange")  #it will item to the end
list.insert(0,"Python") #insert wrt index
print(list)
list.__add__(["Benagaluru"]) #it will append another list

['Rahul', 'Thej', 'Roshani', 'Yellpaur', 'Mysuru', 18, 12]
['Python', 'Rahul', 'Thej', 'Roshani', 'Yellpaur', 'Mysuru', 18, 12, 'Orange']

['Python',
 'Rahul',
 'Thej',
 'Roshani',
 'Yellpaur',
 'Mysuru',
 18,
 12,
 'Orange',
 'Benagaluru']

In [7]:
list.remove(12) ##will remove duplicate 

list_second_1 = list.pop() ##delete last object
print(list_second_1)
print(list)

print("index of Rahul ",list.index("Rahul"))  ##print index of the object

list.insert(2,"Rahul")
list.insert(5,"Rahul")


print("count",list.count("Rahul"))  ##count the element

list.remove(18)

Orange
['Python', 'Rahul', 'Thej', 'Roshani', 'Yellpaur', 'Mysuru', 18]
index of Rahul  1
count 3

In [8]:

list.sort()  ##sort the list
print("sorted list",list)


list.reverse()  ##reverse the list
print("reverse",list)

sorted list ['Mysuru', 'Python', 'Rahul', 'Rahul', 'Rahul', 'Roshani', 'Thej', 'Yellpaur']
reverse ['Yellpaur', 'Thej', 'Roshani', 'Rahul', 'Rahul', 'Rahul', 'Python', 'Mysuru']

In [9]:
print("Iterate")
for element in list:
    print(element)


for position,element in enumerate(list):  ##iterate with index
    print(position,element)

Iterate
Yellpaur
Thej
Roshani
Rahul
Rahul
Rahul
Python
Mysuru
0 Yellpaur
1 Thej
2 Roshani
3 Rahul
4 Rahul
5 Rahul
6 Python
7 Mysuru

In [10]:
print([x**2 for x in range(5)])  # {experssion , range}
print([num for num in range(10) if num%2==0 ]) ##{expression, range, condidtion}

[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8]

In [11]:
list1=[1,2,3,4,5]
list2=['a','b','c','d']

pair=[[i,j] for i in list1 for j in list2 ]
print(pair)

words =["rahul","mohan","naik"]
lengths=[len(word) for word in words]
print(lengths)

list.clear()
print("the emphty lis",list)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd']]
[5, 5, 4]
the emphty lis []

In [ ]:



#nested list
lst_nested=[[1,2,3,4],[4,5,6,7],[1,"raghu","rahu","rahul"]]
print(lst_nested[0][2])
for item in lst_nested:
    for element in item:
        print(element,end=" ")
    print("\n")

3
1 2 3 4

4 5 6 7

1 raghu rahu rahul