In [ ]:
#tuples are ordred collectins o fitems that are immutable
#similar to list buy thier immutability make them difrent

tpl = tuple()
print(tpl,type(tpl))

() <class 'tuple'>
(1, 2, 3, 4, 5, 6)
[1, 2, 4, 5, 7, 89, 'rahul', 'yelapur']
3
6
(1, 2)
(4, 5)
(6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6, 1, 2, 4, 5, 7, 89, 'rahul', 'yelapur')
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [33]:
# type conversion list to tuples 
numbers=tuple([1,2,3,4,5,6,2,46,2,1,5,78,3,7,5,1,3,7,3,1,8,7,9,8,7,5,3,2])
print(numbers)

(1, 2, 3, 4, 5, 6, 2, 46, 2, 1, 5, 78, 3, 7, 5, 1, 3, 7, 3, 1, 8, 7, 9, 8, 7, 5, 3, 2)

In [ ]:

# type conversion  tuples to list
lst=list((1,2,4,5,7,89,"rahul","yelapur"))
print(lst)
mixed_tup=tuple(lst)

In [ ]:


#accescing the tuples
print(numbers[2])
print(numbers[-1]) #last element
print(numbers[:2])
print(numbers[3:5])
print(numbers[::-1]) #reverse

In [23]:

#conctaition tuple

con_tuple=numbers+mixed_tup
print(con_tuple)
mul_tup=numbers*3
print(mul_tup)

(1, 2, 3, 4, 5, 6, 1, 2, 4, 5, 7, 89, 'rahul', 'yelapur')
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [25]:
lst[2]="rahul"
# mixed_tup[2]="naik" #tuples are iummuable but list does

In [36]:
print(numbers.count(3))
print(mixed_tup.index("rahul"))

5
6

In [ ]:
# packing and unpacking
packed_tuple= 1,"Hello",3.14
print(packed_tuple)
a,b,c=packed_tuple
print(a,b,c)

(1, 'Hello', 3.14)
{1, 2, 3}
1 Hello 3.14

In [41]:
# unpacking the *
first,*second,third=mixed_tup
print(first)
print(second)
print(third)

1
[2, 4, 5, 7, 89, 'rahul']
yelapur

In [ ]:
#nested tuple
lst_nested=((1,2,3,4),(4,5,6,7),(1,"raghu","rahu","rahul"))
print(lst_nested[0][2])

for i in

#nested tuple
lst_nested=[[1,2,3,4],[4,5,6,7],(1,"raghu","rahu","rahul")]
print(lst_nested[0][2])

3
3